<div class="row" data-ng-show="summaryLoaded">
    <div class="container info-tile">
        <h3 data-ng-cloak>{{ totalWorldCups }} World Cup tournaments have been held</h3>
        <h3 data-ng-cloak>{{ totalWorldCupTeams }} countries have competed in the World Cup</h3>
        <h3 data-ng-cloak>{{ totalMatchesPlayed | number }} matches have been played</h3>
        <h3 data-ng-cloak>{{ totalGoalsScored | number }} goals have been scored</h3>
        <h3 data-ng-cloak>{{ totalAttendence | number}} fans have attended</h3>
    </div>
        <div class="row">
        <h3>Total Goals per Tournament</h3>
        <nvd3-discrete-bar-chart
                data="goalsPerTournament"
                id="goalsPerTournament"
                showXAxis="true"
                showYAxis="true"
                width="900"
                height="600"
                tooltips="true"
                yaxistickformat="noDec"
                interactive="true">
            <svg class="barchart"></svg>
        </nvd3-discrete-bar-chart>
    </div>
    <div class="row">
        <h3>Total Attendance per Tournament</h3>
        <nvd3-discrete-bar-chart
                data="attendancePerTournament"
                id="attendancePerTournament"
                showXAxis="true"
                showYAxis="true"
                width="900"
                height="600"
                tooltips="true"
                yaxistickformat="noDec"
                interactive="true">
            <svg class="barchart"></svg>
        </nvd3-discrete-bar-chart>
    </div>
</div>