<div class="container">
    <div class="row">
        <div class="form-inline col-xs-6 col-md-4">
            <label class="control-label">Select a Tournament Year</label>
            <select class="form-control"
                    data-ng-model="models.tournament"
                    data-ng-options="tournament for (tournament, data) in tournaments.list">
            </select>
        </div>
    </div>
    <div class="col-md-9">
        <img class="poster"
            data-ng-hide="!models.tournament"
            data-ng-src="assets/tournament-posters/{{ models.tournament.year || 'blank'}}.jpg">
    </div>
    <div class="col-md-9" data-ng-hide="!models.tournament">
        <div class="row">
            <h4>Info</h4>
            <div class="col-md-6">
                <strong>Host Nation(s)</strong>
            </div>
            <div class="col-md-6">
                {{ models.tournament.host }}
            </div>
            <div class="col-md-6">
                <strong>Total Goals</strong>
            </div>
            <div class="col-md-6">
                {{ models.tournament.summary.totalGoals }}
            </div>
            <div class="col-md-6">
                <strong>Total Attendance</strong>
            </div>
            <div class="col-md-6">
                {{ models.tournament.summary.attendance | number }}
            </div>
        </div>
        <div class="row">
            <h4>Results</h4>
            <div class="col-md-6">
                <strong>Champion</strong>
            </div>
            <div class="col-md-6">
                {{ models.tournament.results.champion }}
            </div>
            <div class="col-md-6">
                <strong>Runner-up</strong>
            </div>
            <div class="col-md-6">
                {{ models.tournament.results.second }}
            </div>
            <div class="col-md-6">
                <strong>Third Place</strong>
            </div>
            <div class="col-md-6">
                {{ models.tournament.results.third }}
            </div>
            <div class="col-md-6">
                <strong>Fourth Place</strong>
            </div>
            <div class="col-md-6">
                {{ models.tournament.results.fourth }}
            </div>
            <div class="col-md-6" data-ng-hide="!models.tournament.results.quarters">
                <strong>Quarter Finals</strong>
            </div>
            <div class="col-md-6" data-ng-hide="!models.tournament.results.quarters">
                <span data-ng-repeat="qfTeam in models.tournament.results.quarters">
                    <span data-ng-show="$last">and </span>{{ qfTeam }}<span data-ng-show="!$last">, </span><span data-ng-show="$last">.</span></span>
            </div>
            <div class="col-md-6" data-ng-hide="!models.tournament.results.roundOf16">
                <strong>Round of 16</strong>
            </div>
            <div class="col-md-6" data-ng-hide="!models.tournament.results.roundOf16">
                <span data-ng-repeat="r16Team in models.tournament.results.roundOf16">
                    <span data-ng-show="$last">and </span>{{ r16Team }}<span data-ng-show="!$last">, </span><span data-ng-show="$last">.</span></span>
            </div>
            <div class="col-md-6" data-ng-hide="!models.tournament.results.group">
                <strong>Group Stages</strong>
            </div>
            <div class="col-md-6" data-ng-hide="!models.tournament.results.group">
                <span data-ng-repeat="grpTeam in models.tournament.results.group">
                    <span data-ng-show="$last">and </span>{{ grpTeam }}<span data-ng-show="!$last">, </span><span data-ng-show="$last">.</span></span>
            </div>
        </div>
    </div>
</div>