body {
  padding-top: 50px;
  background-color: #E8EFF3;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.wc-nav {
    background-color: #0D3962;
}

.navbar-brand.nav-header {
    color: #56A07F;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #0D3962;
    color: #56A07F;
}
